body {
    text-align: left;
}
#textHeadline {
    color: var(--text-information-light);
    font-family: var(--font-information-normal);
    font-size: 1.1em;
    margin-top: 0;
text-align: center;
}

#headline {
    margin-top: 1em;
    margin-bottom: 0;
    text-align: center;
}

#event-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 40vw;
    border-radius: 15px;
    background-image: url('../../ressources/images/profile/pre-saved-images/blackMonster.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#event-title {
    color: var(--text-information-light);
    font-family: var(--font-KoHo);
    font-size: 1.6em;
    margin-top: 0.5em;
    width: 90vw;
    margin-left: 0.89em;
    margin-bottom: 0.1em;
}

#title-text {
    color: var(--white);
    font-family: var(--font-information-normal);
    font-size: 1.1em;
    margin-top: 0.1em;
    margin-bottom: 0;
    width: 90vw;
    margin-left: 1.35em;
}

#information {
    color: var(--text-information-light);
    font-family: var(--font-information-normal);
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
    width: 90vw;
    margin-left: 1.35em;
}

#viewMemberButton {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 35vw;
    margin-left: 1.35em;
    padding: 0.5em;
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--font-information-normal);
    font-size: 1.1em;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    background-image: var(--linear-gradient-button-purple);
    white-space: nowrap;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;

}

.item {
    color: var(--white);
    font-family: var(--font-KoHo);
    font-size: 1.4em;
    padding: 0.2em 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#items {
    margin-top: 0em;
}

.item-name {
    flex: 1;
    background-color: #47385C;
    padding: 0.6em;
    border-radius: 15px;
    border: solid 3px #211236;

}

.item-button {
    color: var(--white);
    background-color: #47385C;
    padding: 0.6em;
    border-radius: 15px;
    text-decoration: none;
    border: solid 3px #211236;
}